<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backoffice - Youtan Challenge</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">

    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script type="text/javascript" src="~/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/form_validation.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/validation/localization/messages_pt_BR.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/validation/localization/messages_pt_BR.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/inputs/touchspin.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/switch.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="~/scripts/uuidv4.min.js"></script>



    <script type="text/javascript" src="~/assets/js/plugins/notifications/bootbox.min.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins/notifications/sweet_alert.min.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/components_modals.js"></script>


    <script type="text/javascript" src="~/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="~/assets/js/pages/components_notifications_pnotify.js"></script>

    <!-- /theme JS files -->

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand"><img src="~/assets/images/logo_light.png" alt=""></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/assets/images/placeholder.jpg" alt="">
                        <span id="txtNomeTopoLayout"></span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        @*<li><a href="#"><i class="icon-user-plus"></i> Meu Perfil</a></li>*@
                        <li><a onclick="SairDoSistema()"><i class="icon-switch2"></i> Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">

                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left"><img src="~/assets/images/placeholder.jpg" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    <span id="txtNomeMenuLayout" class="media-heading text-semibold"></span>
                                    @*<div class="text-size-mini text-muted">
                                        <i class="icon-pin text-size-small"></i> Tupã, SP
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">

                                <!-- Main -->
                                <li class="navigation-header"><span>Menu</span> <i class="icon-menu" title="Main pages"></i></li>
                                <li class=""><a id="IrParaInicio" onclick="IrParaInicio()"><i class="icon-home4"></i> <span>Início</span></a></li>
                                <li>
                                    <a href="#"><i class="icon-stack2"></i> <span>Cadastros</span></a>
                                    <ul>
                                        <li>
                                            <a>Produtos</a>
                                            <ul>
                                                <li><a onclick="ChamaCadastroProdutos()">Cadastrar</a></li>
                                                <li><a onclick="ChamaListarProdutos()">Listar</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Clientes</a>
                                            <ul>
                                                <li><a onclick="ChamaCadastroClientes()">Cadastrar</a></li>
                                                <li><a onclick="ChamaListarClientes()">Listar</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-copy"></i> <span>Pedidos</span></a>
                                    <ul>
                                        <li><a onclick="ChamaRegistrarPedido()">Registrar Pedido</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-stack"></i> <span>Relatórios</span></a>
                                    <ul>
                                        <li><a href="#">Pedidos</a></li>
                                        <li><a href="#">Clientes</a></li>
                                        <li><a href="#">Produtos</a></li>
                                    </ul>
                                </li>
                                <!-- /main -->
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->

                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Page header -->
                <div class="page-header page-header-default">
                    <div class="page-header-content">
                        <div class="page-title">
                        </div>
                        <div class="heading-elements">
                        </div>
                    </div>
                </div>
                <!-- /page header -->
                <!-- Content area -->
                <div class="content">
                    @RenderBody()
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
    <script src="~/scripts/Global.js"></script>


    <script src="~/scripts/Principal.js"></script>
    <script src="~/scripts/CadastroCliente.js"></script>
    <script src="~/scripts/CadastroProduto.js"></script>
    <script src="~/scripts/CadastroUsuario.js"></script>
    <script src="~/scripts/RegistrarPedido.js"></script>
    <script src="~/scripts/listagemproduto.js"></script>
    <script src="~/scripts/EditarProduto.js"></script>
    <script src="~/scripts/ListagemCliente.js"></script>
    <script src="~/scripts/EditarCliente.js"></script>
</body>
</html>
